__pycache__
data/*
!data/.gitkeep      
!data/shadow-maps/
!data/pet/
!data/raster/
!data/uhi/
!data/json/
data/shadow-maps/*
data/shadow-maps/*
data/raster/*
data/pet/*
data/uhi/*
data/json/*
!data/shadow-maps/.gitkeep
!data/shadow-maps/.gitkeep
!data/pet/.gitkeep
!data/uhi/.gitkeep
!data/raster/.gitkeep
!data/json/.gitkeep